{% extends "base.html" %}

{% block body %}
<div class="col-sm-3 col-md-3 sidebar">
<div id="courses-div" class="list-group">
        {% if session.user.type === "admin" %}
            <center>All Courses</center>
        {% else %}
            <center>Courses Enrolled In</center>
        {% endif %}
        {% for course in courses %}
        <a href="/course?id={{course.code}}" class="list-group-item">
            {{course.code}}<br>
            Posts: {{course.num_posts}}<br>
            Tutors: {{course.num_tutors}}<br>
            Students: {{course.num_students}}<br>
        </a>
        {% endfor %}
    </div>
</div>

<div class="col-sm-6 col-md-6">
<center><h3>{{currCourse}} Group Page</h3></center><br><br>
    <div id="posts-div" class="list-group">
        <input id="post-text" type="text" size=40 placeholder="What question would you like to ask?">
    </div>
</div>

<div class="col-sm-3 col-md-3 sidebar">
    <div id="friends-div" class="list-group">
      {% if userType === "admin" %}
          <center>All Users Enrolled</center>
      {% else %}
          <center>All Friends in Course</center>
      {% endif %}
        {% for friend in friends %}
        <a href="/profile?id={{friend.username}}" class="list-group-item">
            {{friend.username}}
            <span style="float: right; color: {% if friend.online %}green{% else %}red{% endif %}">
                ● {% if friend.online %}online{% else %}offline{% endif %}
            </span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
