{% extends "base.html" %}

{% block body %}
    <div class="col-sm-8 col-md-8">
    <div id="main-div" class="list-group">
    {% if type === "tutors"%}
            <h1 class='statusReminder'>You are logged in as a student, your searching results for users woule be tutors only.</h1>
            <h1 class='statusReminder'>Indicate the course(s) that you are looking for a tutor by clicking <b>Add</b>.</h1>
            <h1 class='foundMessage'>Found {{users.length}} tutor(s)</h1>
            {% for user in users %}
            <div class="list-group-item">
                <span class="userNameAfterSearch"> {{user.username}} </span>
                <a id="add-friend-{{user.username}}" style="float: right">Make friends</a>
                <span id='friended-{{user.username}}' class='friended'>
                </span>
                <br><br>
                Course(s) that are avaliable to tutor:
                {% for tutorCourse in user.courses %}
                <span class="list-group-item">
                    Course code:   {{tutorCourse}}
                    <a id="add-course-{{tutorCourse}}" style="float: right">Add</a>
                    <span id='courseAdded-{{tutorCourse}}' class='courseAdded'>
                    </span>
                    <br>
                    {% for post in posts %}
                    {% if post.username == user.username and  post.subject == tutorCourse %}
                    <br>Post: <br>
                    <span class='postTitle'>
                        Title: {{post.title}}
                    </span>
                    <br>
                    <span class='postDetail'>
                        Detail: {{post.detail}}
                    </span>
                    <br>
                    <span class='postWhen'>
                        Expected time to be tutored: {{post.when}}
                    </span>
                    <br>
                    <span class='postData'>
                        Date of making this post: {{post.date}}
                    </span>
                    <br>
                    <span class='postEmail'>
                        Email: <a href="mailto:{{post.email}}">Send an email</a>
                    </span>
                    <br>
                    {% endif %}
                    {% endfor %}
                    </span>
                </span>


                {% endfor %}
            </div>
            {% endfor %}

    {% elif type === "students"%}
            <h1 class='statusReminder'>You are logged in as a tutor, your searching results for users woule be students only.</h1>
            <h1 class='statusReminder'>Indicate the course(s) that you want to tutor by clicking <b>Add</b>.</h1>
            <h1 class='foundMessage'>Found {{users.length}} student(s)</h1>
            {% for user in users %}
            <div class="list-group-item">
                <span class="userNameAfterSearch">{{user.username}}</span>
                <a id="add-friend-{{user.username}}" style="float: right">Make friends</a>
                <span id='friended-{{user.username}}' class='friended'>
                </span>
                <br><br>
                Course(s) that this student is looking for a tutor :
                {% for studentCourse in user.courses %}
                <span class="list-group-item">
                    Course code:   {{studentCourse}}
                    <a id="add-course-{{studentCourse}}" style="float: right">Add</a>
                    <span id='courseAdded-{{studentCourse}}' class='courseAdded'>
                    </span>
                    <br>
                    {% for post in posts %}
                    {% if post.username == user.username and  post.subject == studentCourse %}
                    <br>Post: <br>
                    <span class='postTitle'>
                        Title: {{post.title}}
                    </span>
                    <br>
                    <span class='postDetail'>
                        Detail: {{post.detail}}
                    </span>
                    <br>
                    <span class='postWhen'>
                        Expected time to be tutored: {{post.when}}
                    </span>
                    <br>
                    <span class='postData'>
                        Date of making this post: {{post.date}}
                    </span>
                    <br>
                    <span class='postEmail'>
                        Email: <a href="mailto:{{post.email}}">Send an email</a>
                    </span>
                    <br>
                    {% endif %}
                    {% endfor %}
                    </span>


                {% endfor %}
            </div>
            {% endfor %}

    {% elif type === "course" %}
            {% if status === 'tutor' %}
            <h1 class='statusReminder'>You are logged in as a {{status}}, indicate the course(s) that you want to tutor by clicking <b>Add</b>.</h1>
            {% elif status === 'student' %}
            <h1 class='statusReminder'>You are logged in as a {{status}}, indicate the course(s) that you look for a tutor by clicking <b>Add</b>.</h1>
            {% endif %}
            <h1 class='foundMessage'>Found {{data.length}} course(s):</h1>
            {% for course in data %}
            <span class="list-group-item">
                Course code: {{course.code}}
                <a id="add-course-{{course.code}}" style="float: right">Add</a>
                <span id='courseAdded-{{course.code}}' class='courseAdded'>
                </span>
            </span>
            {% endfor %}


        {% if status === 'student' %}
        <div id="main-div" class="list-group">
            <h1 class='foundMessage'>Related tutor(s): </h1>
            {% for course in data %}
            {{course.code}} has {{course.tutors.length}} tutor(s):
            {% for tutor in course.tutors %}
            <span class="list-group-item">
                <span class="userNameAfterSearch">Tutor: {{tutor}}</span>
                <a id="add-friend-{{tutor}}" style="float: right">Make friends</a>
                <span id='friended-{{tutor}}' class='friended'>
                </span>
                <br>
                {% for post in posts %}
                {% if post.username == tutor and  post.subject == course.code %}
                <br>Post: <br>
                <span class='postTitle'>
                    Title: {{post.title}}
                </span>
                <br>
                <span class='postDetail'>
                    Detail: {{post.detail}}
                </span>
                <br>
                <span class='postWhen'>
                    Expected time to be tutored: {{post.when}}
                </span>
                <br>
                <span class='postData'>
                    Date of making this post: {{post.date}}
                </span>
                <br>
                <span class='postEmail'>
                    Email: <a href="mailto:{{post.email}}">Send an email</a>
                </span>
                <br>
                {% endif %}
                {% endfor %}
            </span>
            {% endfor %}
            <br>
            {% endfor %}
        </div>

        {% elif status === 'tutor' %}
        <div id="main-div" class="list-group">
            <h1 class='foundMessage'>Related student(s): </h1>
            {% for course in data %}
            {{course.code}} has {{course.students.length}} student(s):
            {% for student in course.students %}
            <span class="list-group-item">
                <span class="userNameAfterSearch">Student: {{student}}</span>
                <a id="add-friend-{{student}}" style="float: right">Make friends</a>
                <span id='friended-{{student}}' class='friended'>
                </span>
                <br>
                {% for post in posts %}
                {% if post.username == student and  post.subject == course.code %}
                <br>Post: <br>
                <span class='postTitle'>
                    Title: {{post.title}}
                </span>
                <br>
                <span class='postDetail'>
                    Detail: {{post.detail}}
                </span>
                <br>
                <span class='postWhen'>
                    Expected time to be tutored: {{post.when}}
                </span>
                <br>
                <span class='postData'>
                    Date of making this post: {{post.date}}
                </span>
                <br>
                <span class='postEmail'>
                    Email: <a href="mailto:{{post.email}}">Send an email</a>
                </span>
                <br>
                {% endif %}
                {% endfor %}
            </span>
            {% endfor %}
            <br>
            {% endfor %}
        </div>
        {% endif %}
    {%  endif   %}

    </div>
{% endblock %}
