{% extends "base.html" %}

{% block body %}
    <div class="container" id = "about">
        <div class="row">
            <div>
                <h1 class="text-center login-title">Create a Find Tutor Account</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                        alt="">
                    <form id="signup-form" class="form-signin">
                     
                        <input type="text" name="username" class="form-control" placeholder="Choose a username" required autofocus>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <input type="radio" name="usertype" value="student">Student
                        <input type="radio" name="usertype" value="tutor">Tutor
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                        <p id="error-message" class="checkbox pull-left error">
                         
                     </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
